a  {
  text-decoration: none;
  color: black;
}
a:hover{
  color: blue;
}
body{
  padding: 1em;
  background-image: url('http://1.bp.blogspot.com/-E76ghXfBfYI/UVING3DKZQI/AAAAAAAAINc/_ar7kVPL4os/s1600/Tumblr+Background+Renaissance+pink.jpg');
  background-repeat: repeat;
}
#nav-bar li{
  display: inline-block;
  padding-left: .5em;
  padding-right: 2em;
}

.cd-top{
  background-color: blue;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 1em;
  opacity: .3;
  color: white;

}
.cd-top:hover{
  opacity: .50;
}
